body {
  font-family: "Computer Modern Serif";
  font-size: 13pt;
}
#wrap{
  width: 1300px;
  margin: 0 auto;
}
#table_wrap{
  width: 1200px;
  margin: 0 auto;
}
h1 {text-align:center}

.subtitle{
  text-align: center;
  font-style: italic;
}
.quotation{
  font-style: italic;
}
.author{
  text-align: right;
  text-transform: uppercase;
  font-style: normal;
}

h2 {
  text-transform: uppercase;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 1px;
  padding-bottom: 1px; 
}

dt {
  float: left;
  width: 200px;
}
dd {
  margin: 0 0 0 210px;
  padding: 0 0 0.5em 0;
}

small{
  text-transform: initial;
  font-style: italic
}

.schedule{
  border: 1px solid;
  border-collapse: collapse;

}

th {
  background-color: black;
  color: white;
}

.week{
  -webkit-transform: rotate(-90deg);
  border: 1px solid;
  text-transform: uppercase;
}
.odd_week{
  border: 1px solid;
  background-color: #E6E6FA;
}
td{
  border: 1px solid;
}


/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
